:root {
    --sans: Verdana, Arial, sans-serif;
    --backgroundcolor: #ffffff;
    --textcolor: #222222;
    --highlight: #00247d;
}
@media (prefers-color-scheme: dark) {
    ::root {
--backgroundcolor: #00247d;
--highlightcolor: #ffffff;
--textcolor: #ffffff;
    }
}
.sr-only, #skip-links-container:not(:focus-within) {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body {
    color: var(--textcolor);
    font-family: var(--sans);
    font-size: 16px;
    background-color: var(--backgroundcolor)
}
a, a:active, a:visited, a:focus, a:hover {
    color: var(--highlight);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlight);
}
:focus-visible {
    outline: 6px double (var(--highlight));
    box-shadow: 0 4px var(--backgroundcolor);;
}