.tabs {
  font-family: var(--sans);
}
[role="tablist"] {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

[role="tab"] {
  padding: 4px;
  border: 1px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;;
  background: var(-white);
  font-size: 1rem;
  cursor: pointer;
}

[role="tab"][aria-selected="true"] {
  padding-bottom: 8px;
  font-weight: bold;
}




[role="tabpanel"] {
  border: 2px solid var(--blue);
  padding: 4px;
  width: 100%;
}

[role="tabpanel"].is-hidden {
  display: none;
}