:host {
  display: block;
}
:host [role="tablist"] {
  margin: 0 6px;
}
:host [role="tab"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}
:host [role="tab"][aria-selected="true"] {
  font-weight: bold;
}
:host [role="tab"][aria-selected="false"] {
  border-color: var(--secondary);
}
:host [role="tab"]:focus-visible{
  outline: none;
  box-shadow: none;
}
:host [role="tab"]:focus-visible .focus {
  text-decoration: underline;
}
:host [role="tabpanel"] {
  border: 1px solid var(--highlight);
  padding: 4px;
  width: 100%;
  border-radius: 4px;
}
:host [role="tabpanel"].is-hidden {
  display: none;
}