:host .tabs {
  display: block;
}
:host [role="tablist"] {
  margin: 0 6px;
}
:host [role="tab"] {
  box-sizing: border-box;
  padding: 1px 2px;
  border: 2px solid var(--highlight);
  border-radius: 4px 4px 0 0;
  color: var(--text-color);
  background-color: var(--backgroundcolor);
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--sans);
}
:host [role="tab"][aria-selected="true"] {
  font-weight: bold;
}
:host [role="tab"]:focus-visible{
  outline: none;
  box-shadow: none;
}
:host [role="tab"]:focus-visible .focus {
  text-decoration: underline;
}
:host [role="tabpanel"] {
  border: 2px solid var(--highlight);
  padding: 4px;
  width: 100%;
  border-radius: 4px;
}
:host [role="tabpanel"].is-hidden {
  display: none;
}